.logo {
  display: block;
  margin: auto;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 33px;
}
h1{
  margin-top: 12px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
body {
  height: 100vh;
  background-image: linear-gradient(rgba(26, 47, 116, 0.148), rgb(73, 97, 249));
}
.container {
  border: 2px solid black;
  border-radius: 7px;
  margin: auto;
  max-width: 1000px;
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.message {
  background-color: antiquewhite;
  margin: 17px 12px;
  padding: 10px;
  width: 46%;
  border: 1px solid black;
  border-radius: 10px;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

#sendcont {
  display: block;
  margin: auto;
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

#messageInput {
  width: 90%;
  border: 2px solid black;
  border-radius: 8px;
  height: 30px;
  margin: 9px 13px;
}

.button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px 12px;
}
